.lfui-popover {
  padding: 10px;
  background: var(--white);
  border: 1px solid var(--lf-gray-glow);
  box-shadow: 0px 2px 15px 0px rgba(var(--font-color), 0.13);
  border-radius: 4px;
  color: var(--font-color);
  z-index: 10;
}
