.lfui-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  column-gap: var(--inline-gap);
  gap: 0.5rem;
  
  &.lfui-radio_disabled {
    cursor: not-allowed;
  }
}

.lfui-radioInput {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.lfui-radioIcon {
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
  box-shadow: 0px 1px 4px -2px var(--shadow-color);
  position: relative;
  
  &.lfui-radio_disabled {
    opacity: 0.5;
  }

  &:hover:not(.lfui-radio_disabled) {
    box-shadow: 0px 0px 0px 4px var(--lf-gray-ray);
  }

}

.lfui-radio_checked {
  border-color: var(--primary-color);
   &:hover:not(.lfui-checkbox_disabled) {
    box-shadow: 0px 0px 0px 4px color-mix(in srgb, var(--primary-color) 40%, transparent);
  }
}

.lfui-radioInnerCircle {
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
