.lfui-badge {
  display: inline-flex;
  padding: 1px;
  align-items: center;
  border-radius: 34px;
  max-width: fit-content;
  border-width: 1px;
  border-style: solid;
}

.lfui-badge_content {
  display: flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 0.375rem;
  white-space: nowrap;
}

.lfui-badge_icon {
  flex-shrink: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.lfui-badge_label {
  flex-shrink: 0;
  font-size: 0.875rem;
  color: var(--font-color);
  text-transform: capitalize;
}

.lfui-badge_dropdown-icon {
  display: flex;
  padding: 0 0.25rem;
  align-self: stretch;
  border-width: 0;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.lfui-badge_dropdown-icon svg {
  color: var(--font-color);
  width: 16px;
  height: 16px;
}

.lfui-badge_ltr .lfui-badge_dropdown-icon {
  border-left-width: 1px;
  border-left-style: solid;
}

.lfui-badge_rtl .lfui-badge_dropdown-icon {
  border-right-width: 1px;
  border-right-style: solid;
}

.lfui-badge_primary {
  background-color: color-mix(in srgb, var(--primary-color) 10%, transparent);
  border-color: color-mix(in srgb, var(--primary-color) 40%, transparent);
}

.lfui-badge_primary .lfui-badge_icon {
  background-color: var(--primary-color);
}

.lfui-badge_primary .lfui-badge_dropdown-icon {
  border-color: color-mix(in srgb, var(--primary-color) 40%, transparent);
}

.lfui-badge_warning {
  background-color: color-mix(in srgb, var(--destructive-color) 10%, transparent);
  border-color: color-mix(in srgb, var(--destructive-color) 40%, transparent);
}

.lfui-badge_warning .lfui-badge_icon {
  background-color: var(--destructive-color);
}

.lfui-badge_warning .lfui-badge_dropdown-icon {
  border-color: color-mix(in srgb, var(--destructive-color) 40%, transparent);
}

.lfui-badge_success {
  background-color: color-mix(in srgb, var(--success-color) 10%, transparent);
  border-color: color-mix(in srgb, var(--success-color) 40%, transparent);
}

.lfui-badge_success .lfui-badge_icon {
  background-color: var(--success-color);
}

.lfui-badge_success .lfui-badge_dropdown-icon {
  border-color: color-mix(in srgb, var(--success-color) 40%, transparent);
}

.lfui-badge_neutral {
  background-color: color-mix(in srgb, var(--lf-gray-nova) 10%, transparent);
  border-color: color-mix(in srgb, var(--lf-gray-nova) 40%, transparent);
}

.lfui-badge_neutral .lfui-badge_icon {
  background-color: var(--lf-gray-nova);
}

.lfui-badge_neutral .lfui-badge_dropdown-icon {
  border-color: color-mix(in srgb, var(--lf-gray-nova) 40%, transparent);
}

.lfui-badge_caution {
  background-color: color-mix(in srgb, var(--warning-color) 10%, transparent);
  border-color: color-mix(in srgb, var(--warning-color) 40%, transparent);
}

.lfui-badge_caution .lfui-badge_icon {
  background-color: var(--warning-color);
}

.lfui-badge_caution .lfui-badge_dropdown-icon {
  border-color: color-mix(in srgb, var(--warning-color) 40%, transparent);
}

.lfui-badge_large .lfui-badge_content {
  padding: 0.375rem 0.75rem;
}

.lfui-badge_large .lfui-badge_label {
  font-size: 1rem;
}

.lfui-badge_large .lfui-badge_icon {
  width: 0.625rem;
  height: 0.625rem;
}

.lfui-badge_large .lfui-badge_dropdown-icon svg {
  width: 20px;
  height: 20px;
}
