.lfui-button{
	display: inline-flex; 
	justify-content: center; 
	align-items: center; 
	border-radius: var(--radius);
	--font-size: var(--font-size);
	font-size: var(--font-size);
	padding: 9px var(--card-padding);
	font-weight: var(--label-wight);
	line-height: 1;
	vertical-align: middle;
	cursor: pointer;
  text-align: center;
  gap: var(--inline-gap);
	&:disabled{
    cursor: not-allowed;
		opacity: var(--disabled-opacity);
	}
  background-color: var(--button-color);
	border: 1px solid var(--button-color);
  box-shadow: 0px 1px 4px 0px color-mix(in srgb, var(--shadow-color) 12%, transparent), 0px 0px 0px 1px color-mix(in srgb, var(--white) 30%, transparent) inset;
  &:focus{
		box-shadow: 0px 1px 4px 0px color-mix(in srgb, var(--shadow-color) 12%, transparent), 0px 0px 0px 4px color-mix(in srgb, var(--button-color) 40%, transparent);
	}
}

.lfui-button_primary{
  --button-color: var(--primary-color);
	color: var(--white);
}

.lfui-button_destructive{
  --button-color: var(--destructive-color);
	color: var(--white);
}

.lfui-button_secondary{
  --button-color: var(--border-color);
  color: var(--font-color);
  background: var(--white);
  box-shadow: 0px 1px 4px 0px color-mix(in srgb, var(--shadow-color) 12%, transparent), 0px 0px 0px 1px var(--seperator-color) inset;
}