.lfui-text {
  line-height: var(--line-height);
  color: var(--caption-gray);
  margin: 0;
}

.lfui-text_large {
  font-size: calc(var(--font-size) * 1.2);
}

.lfui-text_regular {
  font-size: var(--font-size);
}

.lfui-text_small {
  font-size: calc(var(--font-size) * 0.8);
}
