.lfui-spinner{
	animation: spin 1s linear infinite;
	margin-right: 4px;
}
.lfui-spinner_small {
  width: 1.125rem;
  height: 1.125rem;
}

.lfui-spinner_medium {
  width: 1.5rem;
  height: 1.5rem;
}

.lfui-spinner_large {
  width: 2rem;
  height: 2rem;
}

.lfui-spinner_primary{
  fill: var(--primary-color);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
