
.lfui-dropdownIcon, .lfui-cancelIcon{
	height: 20px;
	width: 20px;
}

.lfui-selectSearch, .lfui-selectSearchDivider{
	margin-top: calc(var(--fallback-padding) * -1);
}

.lfui-selectSearch{
	flex-shrink: 0;
	&, &:focus-within{
		border: none;
		box-shadow: none;
	}
}

.lfui-select{
	display: flex;
	flex-direction: column;
	row-gap: var(--error-gap);
}

.lfui-asyncSelectItemsContainer{
	display: flex;
	gap: 4px; // TODO
	padding: 4px; // TODO
}

.lfui-asyncSelectDeleteItem{
	width: 20px;
	height: 20px;
}

.lfui-asyncSelectItem{
	padding: 4px; // TODO, decide between this or variable
	// --inline-gap: 4px; // TODO
	// --block-gap: 4px; // TODO
}

.lfui-loadingMoreContainer, .lfui-loadMoreContainer{
	display: flex;
	justify-content: center;
}