
.lfui-dropdownIcon, .lfui-cancelIcon{
	height: 20px;
	width: 20px;
}

.lfui-selectSearch{
	display: block;
	width: 100%;
	padding: 0.438rem 1rem; // TODO
	outline: none;
	border: none;
	border-bottom: 1px solid var(--border-color);
	border-start-start-radius: var(--radius);
	border-start-end-radius: var(--radius);
	&::placeholder {
		color: var(--placeholder-color);
	}
}

.lfui-select{
	display: flex;
	flex-direction: column;
	row-gap: var(--error-gap);
}