.lfui-heading {
	font-weight: 500;
	margin: 0;
}
.lfui-heading1{
	font-size: 2.5rem;
}
.lfui-heading2{
	font-size: 2rem;
}
.lfui-heading3{
	font-size: 1.75rem;
}
.lfui-heading4{
	font-size: 1.5rem;
}
.lfui-heading5{
	font-size: 1.25rem;
}
.lfui-heading6{
	font-size: 1rem;
}