.lfui-heading {
	font-weight: var(--label-weight);
	margin: 0;
}
.lfui-heading1{
	font-size: calc(var(--font-size) * 2.5);
}
.lfui-heading2{
	font-size: calc(var(--font-size) * 2);
}
.lfui-heading3{
	font-size: calc(var(--font-size) * 1.5);
}
.lfui-heading4{
	font-size: var(var(--font-size));
}
.lfui-heading5{
	font-size: calc(var(--font-size) * 0.8);
}
.lfui-heading6{
	font-size: calc(var(--font-size) * 0.6);
}