.lfui-alert {
  border-radius: 0.75rem; // TODO
  overflow: hidden; // TODO - may remove when we move ::before
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem; // TODO
  gap: 0.75rem; // TODO
  background-color: color-mix(in srgb, var(--alert-color) 10%, transparent);
  // TODO ErFmOGC we may move this to app instead
  &::before {
  	background-color: var(--alert-color);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.25rem;
  }
}

.lfui-alertThumbnail, .lfui-alertIcon {
  flex-shrink: 0;
  color: var(--alert-color);
  fill: var(--alert-color);
}

.lfui-alertBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap);
}

.lfui-alertTitle {
  font-weight: 500; // TODO
  font-size: 0.875rem; // TODO
  line-height: 1; // TODO
}

.lfui-alertMessage {
  font-size: 0.8125rem; // TODO
  line-height: 1.4rem; // TODO
  color: var(--font-color);
}

.lfui-alert_success {
	--alert-color: var(--success-color);
}

.lfui-alert_warning {
  --alert-color: var(--warning-color);
}

.lfui-alert_destructive {
  --alert-color: var(--destructive-color);
}

.lfui-alert_info {
  --alert-color: var(--primary-color);
}