.lfui-modal{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--block-gap);
}

.lfui-modalBackground{
	inset: 0;
	background: rgba(25, 30, 36, .5);
	position: absolute;
}

.lfui-modalBlock{
	z-index: 1;
	background: var(--white);
	position: relative;
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - (var(--card-padding) * 2));
}

.lfui-modalHeader{
	padding: var(--inline-gap);
}

.lfui-modalFooter{
	padding: var(--inline-gap);
	display: flex;
	gap: var(--inline-gap);
	justify-content: flex-end;
	background: var(--footer-color);
}

.lfui-modalBody{
	padding: var(--inline-gap);
	flex-grow: 1;
	overflow-y: auto;
}

.lfui-modalBlock_roundedTop, .lfui-modalBlock{
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}
.lfui-modalBlock_roundedBottom, .lfui-modalBlock{
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}