@import "normalize.css/normalize.css";

:root {

	--border-color: #ABB6C4;
	--shadow-color: #092753;
	--seperator-color: #E6EAEF;
	--placeholder-color: #7B8DA3;

	--font-color: #191E24;
	--primary-color: #0075FF;
	--destructive-color: #FF4949;
	--success-color: #4FBB87;
  --warning-color: #FF7A00;
  --footer-color: #F8F8F9;
	--muted-color: #888;
  --interaction-color: #F4F4F4;
  --background-color: #F7FAFC;
	--white: #fff;
  --black: #000;

  --caption-gray: #596b81;

  --lf-gray-ray: #E6EAEF;
  --lf-gray-glow: #D3DAE4;
  --lf-gray-beam: #C3CBD5;
  --lf-gray-flash: #ABB6C4;
  --lf-gray-spark: #93A2B4;
  --lf-gray-flare: #7B8DA3;
  --lf-gray-blaze: #647990;
  --lf-gray-nova: #5A6C80;

  --font-size: 16px;
  --line-height: 1.5;
  --weight: 

	--inline-gap: 8px;
	--block-gap: 12px;
	
	--radius: 0.5rem;

	--card-padding: 16px;

	--disabled-opacity: .5;

	--checkable-shadow: 0px 1px 4px -2px var(--shadow-color);

	color: var(--font-color);
	font-size: var(--font-size);
}

* {
	box-sizing: border-box;
}

