.lfui-checkbox {
	display: flex;
	align-items: center;
	cursor: cursor-pointer;
	position: relative;
	display: flex;
	column-gap: var(--inline-gap);
  gap: 0.5rem;
  &.lfui-checkbox_disabled {
    cursor: not-allowed;
  }
}

.lfui-checkboxInput {
	position: absolute;
	visibility: hidden;
	width: 0;
	height: 0;
}

.lfui-checkboxIcon{
	border: 1px solid var(--border-color);
	border-radius: 0.3rem; 
	width: 1.125rem; 
	height: 1.125rem; 
	cursor: pointer;
	box-shadow: 0px 1px 4px -2px var(--shadow-color);
	position: relative;
  &:hover{
    box-shadow: 0px 0px 0px 4px var(--lf-gray-ray);
  }
  &.lfui-checkbox_disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.lfui-checkbox_checked {
	border-color: var(--primary-color);
	background-color: var(--primary-color);
  &:hover:not(.lfui-checkbox_disabled) {
    box-shadow: 0px 0px 0px 4px color-mix(in srgb, var(--primary-color) 40%, transparent);
  }
}

.lfui-checkboxCheckIcon {
	width: 0.8em;
	height: 0.8em;
	fill: var(--white);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
