.lfui-dropdownItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: var(--inline-gap);
  align-items: center;
  display: flex;
}

.lfui-dropdownItem:not(.lfui-dropdownItem_active):hover {
  background-color: var(--interaction-color);
}

.lfui-dropdownItem_active {
  background-color: color-mix(in srgb, var(--primary-color) 10%, transparent);
  color: var(--primary-color);
}

.lfui-dropdownItem_active:hover {
  background-color: color-mix(in srgb, var(--primary-color) 15%, transparent);
}

.lfui-dropdownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1px 0;
  background-color: var(--white);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  overflow: auto;
}
